<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.charity">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Module.Splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Module.Signup.SignupActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Module.RequestOTP.RequestOTPActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Module.ValidateOTP.ValidateOTPActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Module.Login.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Module.Home.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Module.FoodDetails.FoodDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Module.AddFood.AddFoodActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Module.AvailableFood.AvailableFoodActivity"
            android:screenOrientation="portrait" />

        <service android:name=".Application.CharityPollingService" />

        <receiver android:name=".Application.ConnectivityReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>